@import '../../../scss-vars/default-variables.scss';
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@media screen and (min-width: 1270px) {
    .main {
        background: url('https://res.cloudinary.com/echeperegina/image/upload/v1675529684/doma_derevyannye/back_picks/main-back-hause_kke3kj.jpg') rgba($--black, 0.4);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: row;


        .text-block {
            width: 75%;
            max-width: 135rem;
            text-align: center;
            padding: 20%;

            h1,
            p {
                color: $--main-beige;
            }

            h1 {
                font-size: 5rem; 
            }

            .line {
                border-bottom: 3px solid $--main-beige;
                margin: 5% 10%;
            }

            p {
                font-size: 3rem;
            }

            span {
                font-family: $--strong-font;
                font-weight: bold;
            }
        }

        .page-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25%;
            gap: 2rem;
           

            .button {
                @include button(rgba($--main-grey, 0.3),  rgba($--main-grey, 0.8));
                width: 30vh;
                max-width: 42rem; 
                min-width: 25rem;
                font-size: 2.3rem; 
                text-decoration: none;
                text-align: center;
            }

            .button:hover {
                transition: background-color 1s;
                background-color: rgba($--main-grey, 50%);
                color: rgba($--main-white, 0.8);
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                 gap: 10%;

            }

            .button:hover::after {
                content: "\f061";
                font-family: FontAwesome !important;
                color: $--main-white;
                font-size: 2rem;
            }
        }
    }
}


//@media screen and (max-width: 1269px) {
   
//}

@media screen and (max-width: 1269px) {
    .main {
        background: url('https://res.cloudinary.com/echeperegina/image/upload/v1675529684/doma_derevyannye/back_picks/main-back-hause_kke3kj.jpg') rgba($--black, 0.4);
        background-position: right 70% bottom 0%;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 100vw;
        height: 100vh;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;

        .text-block {
            text-align: center;
            width: 95%;
            max-width: 40rem;
            height: 20vh;
            
            h1,
            p {
                color: $--main-beige;
            }

            h1 {
                font-size: 4rem; 
            }

            .line {
                border-bottom: 3px solid $--main-beige;
                margin: 2rem;
            }

            p {
                font-size: 2rem;
            }

            span {
                font-family: $--strong-font;
                font-weight: bold;
            }
        }

        .page-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 95vw;
            height: fit-content;
            gap: 1.5rem;

            .button {
                @include button(rgba($--main-white, 0.3),rgba($--main-white, 0.8));
                width: 40%; 
                min-width: 16rem;
                max-width: 20rem;
                font-size: 2rem; 
                border-radius: 2rem !important;
                padding: 1.5rem !important;
                text-decoration: none;
                text-align: center;
            }

            .button:hover {
                transition: background-color 1s;
                background-color: rgba($--main-white, 60%);
                color: $--main-white;
            }
        }
    }
}