@import '../../../scss-vars/default-variables.scss';

@media only screen and (min-width: 1270px) {

    .gallery {
        position: relative;
        width: 100%;
        height: fit-content;
        background-color: $--main-beige;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3vh;

        h1,
        p {
            color: $--main-brown;
        }

        h1 {
            font-size: 4rem;
            margin: 10vh 0 -3vh 0;
        }

        p {
            font-size: 2.5rem;
        }

        .box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            padding-bottom: 10rem;

            figure {
                position: relative;

                .img {
                    width: 85rem;
                    height: 55rem;
                    box-shadow: 8px 6px 6px rgba($--main-brown, 20%);
                }

                .alt,
                div {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: .5rem;
                    font-size: 1.5rem;
                }

                .alt {
                    left: .5rem;
                }

                div {
                    right: .5rem;

                    svg {
                        width: 1vw;
                        max-width: 1.2rem;
                        height: 1vw;
                        max-height: 1.2rem;
                    }
                }
            }

            figure:hover {
                transform: scale3d(1.1, 1.1, 1.1);
                transition: 1s;
                cursor: pointer;

                .alt,
                div {
                    opacity: 0.7;
                    visibility: visible;
                    transition: .5s;
                }
            }
        }
    }
}

//@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1269px) {
    .gallery {
        position: relative;
        width: 100vw;
        height: fit-content;
        background-color: $--main-beige;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;

        h1,
        p {
            color: $--main-brown;
        }

        h1 {
            font-size: 3rem;
            margin: 2rem 0 -2rem 0;
        }

        p {
            font-size: 2rem;
        }

        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            padding-bottom: 5rem;

            figure {
                position: relative;
                width: 92vw;

                .img {
                    width: 100%;
                    height: fit-content;
                    box-shadow: 4px 2px 2px rgba($--main-brown, 20%);
                }

                .alt,
                div {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    
                }

            }
        }
    }
}