@import '../../../scss-vars/default-variables.scss';

@media screen and (min-width: 1270px) {
    .why-us {
        position: relative;
        background: url('https://res.cloudinary.com/echeperegina/image/upload/v1675529689/doma_derevyannye/back_picks/wood_c4n28t.jpg') rgba($--main-brown, 0.7);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 100%;
        height: fit-content; 
        padding: 5rem;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;

        h1,
        p {
            color: $--main-white;
        }

        h1 {
            font-size: 4rem;
            margin-top: -2rem;
        }

        div {
            width: 82vw;
          //  min-width: fit-content;
            max-width: 104rem;
            height: 24vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3vw;

            p {
                width: 30%;
                height: 100%;
                background-color: rgba($--light-brown, 0.8);
                font: 600 3rem $--strong-font;
                text-align: center;
                padding: 5vh;
                border-radius: 5rem;
                line-height: 1.4;
            }
        }
    }
}

//@media screen and (max-width: 769px) {}

@media screen and (max-width: 1269px) {
    .why-us {
        position: relative;
        background: url('../../../assets/background-imgs/wood.jpg') rgba($--main-brown, 0.7);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
        width: 100vw;
        height: 30vh;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;

        h1,
        p {
            color: $--main-white;
        }

        h1 {
            font-size: 3rem;
            width: 100%;
        }

        div {
            height: fit-content;
            width: 97%;
            max-width: 36rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1vw;

            p {
                width: 40%;
                height: 100%;
                background-color: rgba($--light-brown, 0.8);
                font: 600 1.4rem $--strong-font;
                text-align: center;
                padding: 1rem;
                border-radius: 2rem;
                line-height: 1.4;
            }
        }
    }
}