@import '../../scss-vars/default-variables.scss';


.nav {
  box-sizing: content-box;
  transition: 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 $--main-grey;
  z-index: 3;
  background-color: rgba($--black, 0%);
  transition: transform .1s linear;

  .logo {
    transition: 1s;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: .2rem;
    align-items: center;
    flex-direction: row;
    color: $--main-grey;

    h4 {
      font-size: 3rem;
    }

    p {
      font-size: 2.3rem;
    }

    svg {
      transition: 1s;
      width: 6rem;
      height: 5rem;
      fill: $--main-grey;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    list-style: none;

    a {
      transition: 1s;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 2.3rem;
      padding: 1.5rem 2.5rem;
      text-decoration: none;
      color: $--main-grey;
    }

    a:hover {
      background-color: rgba($--main-grey, 0.5);
      color: $--main-white;
    }
  }


  &._active {
    transition: 1s;
    background-color: $--main-beige;
    box-shadow: 0 4px 4px rgba($--main-brown, 0.3);
    //border-bottom: 0.5rem solid rgba($--main-brown, 0.3);

    .logo {
      transition: 1s;
      color: $--main-brown;

      svg {
        transition: 1s;
        fill: $--main-brown;
      }
    }

    .nav-list {

      a {
        transition: 1s;
        color: $--main-brown;

      }

      a:hover {
        background-color: darken($--main-beige, 5%);
        color: darken($--main-brown, 10%);
      }
    }
  }

  &._transparent {
    transition: 1s;
    opacity: 0;
  }
}

.arrow {
  position: fixed;
  top: 90vh;
  left: 95%;
  width: 7rem;
  height: 7rem;
  z-index: 3;
  transition: 1s ease-out;
  fill: $--light-brown;
  opacity: 0.8;

  &:hover{
    fill: $--main-brown;
    opacity: 1;
  }

  &._arrow-transparent{
    opacity: 0;
  }
}