@import '../../../scss-vars/default-variables.scss';

@media only screen and (min-width: 769px) {
  .process {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $--main-beige;
    border-top: .8rem dotted rgba($--main-brown, 40%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    gap: 3rem;



    h1 {
      position: absolute;
      top: 8rem;
      left: auto;
      font-size: 5rem;
      color: $--main-brown;
    }


    #picture {
      width: 50%;
      height: 80%;
      box-shadow: 8px 6px 6px rgba($--main-brown, 40%);
    }


    /* Navigation item styles */
    .arrow-left,
    .arrow-right {
      width: 7rem;
      height: 7rem;
      cursor: pointer;
      fill: $--light-brown;
      transition: .8s;

    }


    .arrow-left:hover,
    .arrow-right:hover {
      fill: $--main-brown;
      transition: 1s;
    }
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {
  .process {
    position: relative;
    width: fit-content;
    height: 50vh;
    padding: 2rem 0 2rem 0;
    background-color: $--main-beige;
    border-top: .5rem dotted rgba($--main-brown, 40%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
      font-size: 3rem;
      color: $--main-brown;
      text-align: center;
    }


    #picture {
      width: 95%;
      height: 80%;
      box-shadow: 8px 6px 6px rgba($--main-brown, 40%);
    }

    .arrow-left,
    .arrow-right {
      position: absolute;
      top: 60%;
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;
      fill: rgba($--black, 0.5);
      transition: .8s;
    }
    .arrow-left{
      left: 3%;
    }

    .arrow-right{
      left: 89%;
    }

    .arrow-left:hover,
    .arrow-right:hover {
      fill: rgba($--black, 0.9);
      transition: 1s;
    }
  }
}